flows/brokerabierto.json
[
    {
        "id": "fd7245a51a6f3d06",
        "type": "tab",
        "label": "Persistencia BD",
        "disabled": false,
        "info": "Guarda cada mensaje MQTT de ElectricFence/# en la tabla registro de monitor_cercos"
    },
    {
        "id": "88d74b0e0d334962",
        "type": "MySQLdatabase",
        "name": "monitor_cercos",
        "host": "mysql",
        "port": "3306",
        "db": "monitor_cercos",
        "tz": "America/Santiago",
        "charset": ""
    },
    {
        "id": "e0e728151d27563f",
        "type": "mqtt-broker",
        "name": "Mosquitto ElectricFence",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4f81c63d4bd045a",
        "type": "mqtt in",
        "z": "fd7245a51a6f3d06",
        "name": "Escuchar ElectricFence/#",
        "topic": "ElectricFence/#",
        "qos": "1",
        "datatype": "auto",
        "broker": "e0e728151d27563f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "909fac5bf32bc6ee"
            ]
        ]
    },
    {
        "id": "909fac5bf32bc6ee",
        "type": "function",
        "z": "fd7245a51a6f3d06",
        "name": "Preparar INSERT registro",
        "func": "// Guardar topic MQTT antes de cualquier modificación\nconst topicMQTT = msg.topic;\n\n// Parsear payload (puede llegar como string JSON u objeto)\nlet data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch(e) { data = null; }\n}\n\n// Extraer valor numérico (1 o 0)\nlet valor = null;\nif (data !== null && typeof data === 'object') {\n    if (typeof data.value !== 'undefined') {\n        valor = data.value ? 1 : 0;\n    } else if (typeof data.active !== 'undefined') {\n        valor = data.active ? 1 : 0;\n    } else if (typeof data.state !== 'undefined') {\n        valor = data.state ? 1 : 0;\n    }\n} else if (typeof msg.payload === 'number') {\n    valor = msg.payload ? 1 : 0;\n} else if (typeof msg.payload === 'boolean') {\n    valor = msg.payload ? 1 : 0;\n}\n\nif (valor === null) {\n    node.warn('No se pudo extraer valor del topic: ' + topicMQTT);\n    return [null, msg];\n}\n\n// Armar query parametrizada para node-red-node-mysql\nmsg.topic   = \"INSERT INTO registro (topic, valor) VALUES (?, ?)\";\nmsg.payload = [topicMQTT, valor];\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "1c8f01dfe1beac16",
                "8e4e1352232e21fa"
            ],
            [
                "3861a47e782f79f8"
            ]
        ]
    },
    {
        "id": "1c8f01dfe1beac16",
        "type": "mysql",
        "z": "fd7245a51a6f3d06",
        "mydb": "88d74b0e0d334962",
        "name": "INSERT → registro",
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8e4e1352232e21fa",
        "type": "debug",
        "z": "fd7245a51a6f3d06",
        "name": "✓ Guardado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "3861a47e782f79f8",
        "type": "debug",
        "z": "fd7245a51a6f3d06",
        "name": "✗ Error parseo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a690f90d9cad084",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0"
        }
    }
]
