flows/emisorabierto.json
[
    {
        "id": "f0ba01b33e1138fe",
        "type": "tab",
        "label": "ElectricFence Emisor",
        "disabled": false,
        "info": "Emisor ordenado por equipos. Cada boton simula una entrada del mapeo ElectricFence y publica al broker MQTT."
    },
    {
        "id": "224ec496b36f6d5e",
        "type": "tab",
        "label": "ElectricFence Emisor GPIO",
        "disabled": true,
        "info": "Emisor R1 con entradas GPIO reales. Pines fisicos leen hebras del cerco y publican al broker MQTT. Deshabilitado en Docker - usa el emisor por botones."
    },
    {
        "id": "0000000000000001",
        "type": "mqtt-broker",
        "name": "Mosquitto ElectricFence",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "026a11250a633649",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "Ayuda emisor",
        "info": "Los botones quedaron agrupados por equipo. Cada grupo envia su se?al a un enlace interno y luego al bloque de publicacion MQTT de la derecha.",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "dfbe69caa1272f2b",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "Publicacion MQTT",
        "info": "Aqui se arma el payload JSON y se publica al topico principal y al topico del pin.",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "272c8ea940895fb7",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "R1 - Zona1",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad3c87fed54c9872",
        "type": "link out",
        "z": "f0ba01b33e1138fe",
        "name": "Enviar R1",
        "mode": "link",
        "links": [
            "1108e9f38d7b43b0"
        ],
        "x": 335,
        "y": 300,
        "wires": []
    },
    {
        "id": "82b6ab32c052b020",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona1 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i07_alarma_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "bbedf0a67501ad9e",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona1 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i07_alarma_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "aac32dd1e283dc4b",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona1 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i03_estado_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "e7ce4be8a2568cea",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona1 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i03_estado_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "94261734c2008f84",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona1 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i08_alarma_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "df384dbee803c92e",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona1 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i08_alarma_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "df31fc60f777c82a",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona1 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i04_estado_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "27a70477b637a5f6",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona1 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r1_i04_estado_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "ad3c87fed54c9872"
            ]
        ]
    },
    {
        "id": "759a8097c83bf691",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "R2 - Zona2",
        "info": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "d10ec0f89a95b2b7",
        "type": "link out",
        "z": "f0ba01b33e1138fe",
        "name": "Enviar R2",
        "mode": "link",
        "links": [
            "1108e9f38d7b43b0"
        ],
        "x": 775,
        "y": 300,
        "wires": []
    },
    {
        "id": "516e02cc89b47c82",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona2 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i01_alarma_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "3417d025e566d2ca",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona2 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i01_alarma_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "77eb316e251deaea",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona2 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i03_estado_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "5eeadc9750223226",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona2 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i03_estado_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "863724148547d8d7",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona2 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i02_alarma_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "d4af6a8237dd7464",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona2 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i02_alarma_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "e7b3f4ac76da5683",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona2 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i04_estado_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "2a775f65f7b5212a",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona2 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r2_i04_estado_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "d10ec0f89a95b2b7"
            ]
        ]
    },
    {
        "id": "3ba485555583e1ac",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "R3 - Zona3 y Zona4",
        "info": "",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "3ec28cdcfe62483f",
        "type": "link out",
        "z": "f0ba01b33e1138fe",
        "name": "Enviar R3",
        "mode": "link",
        "links": [
            "1108e9f38d7b43b0"
        ],
        "x": 1210,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac41339bbc84062f",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona3 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i01_alarma_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 140,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "953b876ad801b95d",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona3 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i01_alarma_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "f0e6f0aeeb0f2d46",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona3 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i04_estado_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "baa2f7c79769d550",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona3 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i04_estado_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 960,
        "y": 220,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "f91ac7b2295124a4",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona3 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i02_alarma_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "aec351f74aa74388",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona3 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i02_alarma_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 380,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "454c16809f10ba79",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona3 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i05_estado_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "06bfd230d5e08c39",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona3 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i05_estado_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 460,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "8b82ad31220cdf41",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona4 ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i03_alarma_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "a3680d4c7142125f",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Alarma Zona4 OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i03_alarma_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 940,
        "y": 560,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "59a9c5439ad3b9ee",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona4 ON",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i06_estado_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 940,
        "y": 600,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "48960de3b4481f5e",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Estado Zona4 OFF",
        "props": [
            {
                "p": "routeId",
                "v": "r3_i06_estado_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 940,
        "y": 640,
        "wires": [
            [
                "3ec28cdcfe62483f"
            ]
        ]
    },
    {
        "id": "3e08ab024d7b2bf5",
        "type": "comment",
        "z": "f0ba01b33e1138fe",
        "name": "Switch - Control",
        "info": "",
        "x": 1510,
        "y": 100,
        "wires": []
    },
    {
        "id": "6de7d37baad19825",
        "type": "link out",
        "z": "f0ba01b33e1138fe",
        "name": "Enviar SWITCH",
        "mode": "link",
        "links": [
            "1108e9f38d7b43b0"
        ],
        "x": 1680,
        "y": 284,
        "wires": []
    },
    {
        "id": "7ea56e32ad78f2c4",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona1 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i01_onoff_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "85e6822aaf059693",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona1 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i01_onoff_Zona1_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 180,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "6bd5bfdd0e30d9a9",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona1 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i02_onoff_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1380,
        "y": 220,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "918acaec1b9bc379",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona1 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i02_onoff_Zona1_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 260,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "2aa01f8adb691acb",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona2 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i03_onoff_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "2ff08aaa43d877a9",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona2 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i03_onoff_Zona2_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "018e1e264961b7f7",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona2 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i04_onoff_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "8cb65458f997bcf5",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona2 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i04_onoff_Zona2_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1410,
        "y": 440,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "21c84411a13fcd43",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona3 Sup ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i05_onoff_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 500,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "843579907fd19dc0",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona3 Sup OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i05_onoff_Zona3_up",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1400,
        "y": 540,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "c21fee702497d147",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona3 Inf ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i06_onoff_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 580,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "48d262340a64f99f",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona3 Inf OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i06_onoff_Zona3_down",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 620,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "2f2de8eab77470c2",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona4 ON",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i07_onoff_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "b434fc71cd24c6f1",
        "type": "inject",
        "z": "f0ba01b33e1138fe",
        "name": "Control Zona4 OFF",
        "props": [
            {
                "p": "routeId",
                "v": "switch_i07_onoff_Zona4",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "6de7d37baad19825"
            ]
        ]
    },
    {
        "id": "1108e9f38d7b43b0",
        "type": "link in",
        "z": "f0ba01b33e1138fe",
        "name": "Entradas para publicar",
        "links": [
            "ad3c87fed54c9872",
            "d10ec0f89a95b2b7",
            "3ec28cdcfe62483f",
            "6de7d37baad19825"
        ],
        "x": 60,
        "y": 620,
        "wires": [
            [
                "cd084a9777c980f1"
            ]
        ]
    },
    {
        "id": "cd084a9777c980f1",
        "type": "function",
        "z": "f0ba01b33e1138fe",
        "name": "Preparar mensaje",
        "func": "const routes = {\"r1_i07_alarma_Zona1_up\": {\"route_id\": \"r1_i07_alarma_Zona1_up\", \"description\": \"Alarma cerco Zona1 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona1/superior\", \"raw_topic\": \"R1/I07\", \"source\": {\"device\": \"R1\", \"ip\": \"mosquitto\", \"input\": \"I07\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona1\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r1_i08_alarma_Zona1_down\": {\"route_id\": \"r1_i08_alarma_Zona1_down\", \"description\": \"Alarma cerco Zona1 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona1/inferior\", \"raw_topic\": \"R1/I08\", \"source\": {\"device\": \"R1\", \"ip\": \"mosquitto\", \"input\": \"I08\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona1\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O02\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O02\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r1_i03_estado_Zona1_up\": {\"route_id\": \"r1_i03_estado_Zona1_up\", \"description\": \"Estado cerco Zona1 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona1/superior\", \"raw_topic\": \"R1/I03\", \"source\": {\"device\": \"R1\", \"ip\": \"mosquitto\", \"input\": \"I03\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona1\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O09\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r1_i04_estado_Zona1_down\": {\"route_id\": \"r1_i04_estado_Zona1_down\", \"description\": \"Estado cerco Zona1 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona1/inferior\", \"raw_topic\": \"R1/I04\", \"source\": {\"device\": \"R1\", \"ip\": \"mosquitto\", \"input\": \"I04\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona1\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O10\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r2_i01_alarma_Zona2_up\": {\"route_id\": \"r2_i01_alarma_Zona2_up\", \"description\": \"Alarma cerco Zona2 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona2/superior\", \"raw_topic\": \"R2/I01\", \"source\": {\"device\": \"R2\", \"ip\": \"mosquitto\", \"input\": \"I01\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona2\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O03\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O03\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r2_i02_alarma_Zona2_down\": {\"route_id\": \"r2_i02_alarma_Zona2_down\", \"description\": \"Alarma cerco Zona2 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona2/inferior\", \"raw_topic\": \"R2/I02\", \"source\": {\"device\": \"R2\", \"ip\": \"mosquitto\", \"input\": \"I02\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona2\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O04\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O04\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r2_i03_estado_Zona2_up\": {\"route_id\": \"r2_i03_estado_Zona2_up\", \"description\": \"Estado cerco Zona2 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona2/superior\", \"raw_topic\": \"R2/I03\", \"source\": {\"device\": \"R2\", \"ip\": \"mosquitto\", \"input\": \"I03\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona2\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O11\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r2_i04_estado_Zona2_down\": {\"route_id\": \"r2_i04_estado_Zona2_down\", \"description\": \"Estado cerco Zona2 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona2/inferior\", \"raw_topic\": \"R2/I04\", \"source\": {\"device\": \"R2\", \"ip\": \"mosquitto\", \"input\": \"I04\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona2\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O12\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i01_alarma_Zona3_up\": {\"route_id\": \"r3_i01_alarma_Zona3_up\", \"description\": \"Alarma cerco Zona3 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona3/superior\", \"raw_topic\": \"R3/I01\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I01\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona3\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O05\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O05\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"R4\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i02_alarma_Zona3_down\": {\"route_id\": \"r3_i02_alarma_Zona3_down\", \"description\": \"Alarma cerco Zona3 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona3/inferior\", \"raw_topic\": \"R3/I02\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I02\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona3\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O06\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O06\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"R4\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i03_alarma_Zona4\": {\"route_id\": \"r3_i03_alarma_Zona4\", \"description\": \"Alarma cerco Zona4\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/alarma/Zona4/unico\", \"raw_topic\": \"R3/I03\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I03\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"alarma\", \"zone\": \"Zona4\", \"segment\": null}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O07\", \"gpio_bcm\": null, \"active_high\": true}, {\"device\": \"SWITCH\", \"output\": \"O07\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i04_estado_Zona3_up\": {\"route_id\": \"r3_i04_estado_Zona3_up\", \"description\": \"Estado cerco Zona3 superior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona3/superior\", \"raw_topic\": \"R3/I04\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I04\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona3\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O13\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i05_estado_Zona3_down\": {\"route_id\": \"r3_i05_estado_Zona3_down\", \"description\": \"Estado cerco Zona3 inferior\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona3/inferior\", \"raw_topic\": \"R3/I05\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I05\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona3\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O14\", \"gpio_bcm\": null, \"active_high\": true}]}, \"r3_i06_estado_Zona4\": {\"route_id\": \"r3_i06_estado_Zona4\", \"description\": \"Estado cerco Zona4\", \"channel\": \"telemetry\", \"semantic_topic\": \"ElectricFence/cercos/estado/Zona4/unico\", \"raw_topic\": \"R3/I06\", \"source\": {\"device\": \"R3\", \"ip\": \"mosquitto\", \"input\": \"I06\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"cercos\", \"signal\": \"estado\", \"zone\": \"Zona4\", \"segment\": null}, \"targets\": [{\"device\": \"BROKER\", \"output\": \"O15\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i01_onoff_Zona1_up\": {\"route_id\": \"switch_i01_onoff_Zona1_up\", \"description\": \"Control on/off Zona1 superior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona1/superior\", \"raw_topic\": \"SWITCH/I01\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I01\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona1\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"R1\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i02_onoff_Zona1_down\": {\"route_id\": \"switch_i02_onoff_Zona1_down\", \"description\": \"Control on/off Zona1 inferior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona1/inferior\", \"raw_topic\": \"SWITCH/I02\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I02\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona1\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"R1\", \"output\": \"O02\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i03_onoff_Zona2_up\": {\"route_id\": \"switch_i03_onoff_Zona2_up\", \"description\": \"Control on/off Zona2 superior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona2/superior\", \"raw_topic\": \"SWITCH/I03\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I03\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona2\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"R2\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i04_onoff_Zona2_down\": {\"route_id\": \"switch_i04_onoff_Zona2_down\", \"description\": \"Control on/off Zona2 inferior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona2/inferior\", \"raw_topic\": \"SWITCH/I04\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I04\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona2\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"R2\", \"output\": \"O02\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i05_onoff_Zona3_up\": {\"route_id\": \"switch_i05_onoff_Zona3_up\", \"description\": \"Control on/off Zona3 superior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona3/superior\", \"raw_topic\": \"SWITCH/I05\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I05\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona3\", \"segment\": \"up\"}, \"targets\": [{\"device\": \"R3\", \"output\": \"O01\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i06_onoff_Zona3_down\": {\"route_id\": \"switch_i06_onoff_Zona3_down\", \"description\": \"Control on/off Zona3 inferior\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona3/inferior\", \"raw_topic\": \"SWITCH/I06\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I06\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona3\", \"segment\": \"down\"}, \"targets\": [{\"device\": \"R3\", \"output\": \"O02\", \"gpio_bcm\": null, \"active_high\": true}]}, \"switch_i07_onoff_Zona4\": {\"route_id\": \"switch_i07_onoff_Zona4\", \"description\": \"Control on/off Zona4\", \"channel\": \"control\", \"semantic_topic\": \"ElectricFence/cercos/onoff/Zona4/unico\", \"raw_topic\": \"SWITCH/I07\", \"source\": {\"device\": \"SWITCH\", \"ip\": \"mosquitto\", \"input\": \"I07\", \"gpio_bcm\": null, \"active_high\": true, \"pull\": \"down\"}, \"classification\": {\"family\": \"control\", \"signal\": \"onoff\", \"zone\": \"Zona4\", \"segment\": null}, \"targets\": [{\"device\": \"R3\", \"output\": \"O03\", \"gpio_bcm\": null, \"active_high\": true}]}};\nconst route = routes[msg.routeId];\nif (!route) {\n    node.warn(`No existe routeId ${msg.routeId}`);\n    return null;\n}\nconst active = !!msg.state;\nconst retain = ['estado', 'onoff'].includes(route.classification.signal);\nconst payloadObject = {\n    route_id: route.route_id,\n    channel: route.channel,\n    topic: route.semantic_topic,\n    raw_topic: route.raw_topic,\n    active,\n    value: active ? 1 : 0,\n    origin: 'node-red-electric-fence',\n    timestamp: new Date().toISOString(),\n    source: route.source,\n    classification: route.classification,\n    description: route.description,\n    targets: route.targets,\n};\nconst payload = JSON.stringify(payloadObject);\nconst mainMsg = { topic: route.semantic_topic, payload, qos: 1, retain };\nlet pinMsg = null;\nif (route.raw_topic) {\n    pinMsg = { topic: route.raw_topic, payload, qos: 1, retain };\n}\nconst viewMsg = {\n    payload: {\n        topic: route.semantic_topic,\n        raw_topic: route.raw_topic,\n        active,\n        source: `${route.source.device}/${route.source.input}`,\n        description: route.description,\n    }\n};\nreturn [mainMsg, pinMsg, viewMsg];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 620,
        "wires": [
            [
                "20991bdc0538d1af"
            ],
            [
                "3ed46d088b409a3c"
            ],
            [
                "eb22e23db73c3944"
            ]
        ]
    },
    {
        "id": "20991bdc0538d1af",
        "type": "mqtt out",
        "z": "f0ba01b33e1138fe",
        "name": "Topico principal",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0000000000000001",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ed46d088b409a3c",
        "type": "mqtt out",
        "z": "f0ba01b33e1138fe",
        "name": "Topico pin",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0000000000000001",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "eb22e23db73c3944",
        "type": "debug",
        "z": "f0ba01b33e1138fe",
        "name": "Vista de envio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.description",
        "statusType": "msg",
        "x": 450,
        "y": 660,
        "wires": []
    }
]
