flows/receptorabierto.json
[
    {
        "id": "c3e4dc10c13de097",
        "type": "tab",
        "label": "ElectricFence Receptor",
        "disabled": false,
        "info": "Escucha MQTT y separa las senales por dispositivo destino para monitoreo o conexion a GPIO."
    },
    {
        "id": "0000000000000001",
        "type": "mqtt-broker",
        "name": "Mosquitto ElectricFence",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0000000000002001",
        "type": "ui_tab",
        "name": "ElectricFence",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0000000000002002",
        "type": "ui_group",
        "name": "Panel de Cercos",
        "tab": "0000000000002001",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dd7940d49374a2c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ad7df6d9498a04d4",
        "type": "comment",
        "z": "c3e4dc10c13de097",
        "name": "Ayuda receptor",
        "info": "Aqui puedes mirar salidas, tablero y luego conectar GPIO reales. El receptor ahora tambien mantiene un dashboard con armado, desarmado y estado por cerco.",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "d7cefa4bb02ea31f",
        "type": "mqtt in",
        "z": "c3e4dc10c13de097",
        "name": "Topicos ElectricFence",
        "topic": "ElectricFence/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0000000000000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "80f0af0a93e6ae7d",
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "e8b50de96fed69c5",
        "type": "mqtt in",
        "z": "c3e4dc10c13de097",
        "name": "Entradas R1",
        "topic": "R1/+",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0000000000000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "80f0af0a93e6ae7d",
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "534bb6c70cf28cce",
        "type": "mqtt in",
        "z": "c3e4dc10c13de097",
        "name": "Entradas R2",
        "topic": "R2/+",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0000000000000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "80f0af0a93e6ae7d",
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "27c918d035b51f04",
        "type": "mqtt in",
        "z": "c3e4dc10c13de097",
        "name": "Entradas R3",
        "topic": "R3/+",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0000000000000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "80f0af0a93e6ae7d",
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "976932e47d434656",
        "type": "mqtt in",
        "z": "c3e4dc10c13de097",
        "name": "Entradas Switch",
        "topic": "SWITCH/+",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0000000000000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "80f0af0a93e6ae7d",
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "80f0af0a93e6ae7d",
        "type": "function",
        "z": "c3e4dc10c13de097",
        "name": "Resolver salidas segun topico",
        "func": "const routesByTopic = {\"ElectricFence/cercos/alarma/Zona1/superior\": [{\"device\": \"BROKER\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I07\"}}, {\"device\": \"SWITCH\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I07\"}}], \"R1/I07\": [{\"device\": \"BROKER\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I07\"}}, {\"device\": \"SWITCH\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I07\"}}], \"ElectricFence/cercos/alarma/Zona1/inferior\": [{\"device\": \"BROKER\", \"output\": \"O02\", \"description\": \"Alarma cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I08\"}}, {\"device\": \"SWITCH\", \"output\": \"O02\", \"description\": \"Alarma cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I08\"}}], \"R1/I08\": [{\"device\": \"BROKER\", \"output\": \"O02\", \"description\": \"Alarma cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I08\"}}, {\"device\": \"SWITCH\", \"output\": \"O02\", \"description\": \"Alarma cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I08\"}}], \"ElectricFence/cercos/estado/Zona1/superior\": [{\"device\": \"BROKER\", \"output\": \"O09\", \"description\": \"Estado cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I03\"}}], \"R1/I03\": [{\"device\": \"BROKER\", \"output\": \"O09\", \"description\": \"Estado cerco Zona1 superior\", \"source\": {\"device\": \"R1\", \"input\": \"I03\"}}], \"ElectricFence/cercos/estado/Zona1/inferior\": [{\"device\": \"BROKER\", \"output\": \"O10\", \"description\": \"Estado cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I04\"}}], \"R1/I04\": [{\"device\": \"BROKER\", \"output\": \"O10\", \"description\": \"Estado cerco Zona1 inferior\", \"source\": {\"device\": \"R1\", \"input\": \"I04\"}}], \"ElectricFence/cercos/alarma/Zona2/superior\": [{\"device\": \"BROKER\", \"output\": \"O03\", \"description\": \"Alarma cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I01\"}}, {\"device\": \"SWITCH\", \"output\": \"O03\", \"description\": \"Alarma cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I01\"}}], \"R2/I01\": [{\"device\": \"BROKER\", \"output\": \"O03\", \"description\": \"Alarma cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I01\"}}, {\"device\": \"SWITCH\", \"output\": \"O03\", \"description\": \"Alarma cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I01\"}}], \"ElectricFence/cercos/alarma/Zona2/inferior\": [{\"device\": \"BROKER\", \"output\": \"O04\", \"description\": \"Alarma cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I02\"}}, {\"device\": \"SWITCH\", \"output\": \"O04\", \"description\": \"Alarma cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I02\"}}], \"R2/I02\": [{\"device\": \"BROKER\", \"output\": \"O04\", \"description\": \"Alarma cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I02\"}}, {\"device\": \"SWITCH\", \"output\": \"O04\", \"description\": \"Alarma cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I02\"}}], \"ElectricFence/cercos/estado/Zona2/superior\": [{\"device\": \"BROKER\", \"output\": \"O11\", \"description\": \"Estado cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I03\"}}], \"R2/I03\": [{\"device\": \"BROKER\", \"output\": \"O11\", \"description\": \"Estado cerco Zona2 superior\", \"source\": {\"device\": \"R2\", \"input\": \"I03\"}}], \"ElectricFence/cercos/estado/Zona2/inferior\": [{\"device\": \"BROKER\", \"output\": \"O12\", \"description\": \"Estado cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I04\"}}], \"R2/I04\": [{\"device\": \"BROKER\", \"output\": \"O12\", \"description\": \"Estado cerco Zona2 inferior\", \"source\": {\"device\": \"R2\", \"input\": \"I04\"}}], \"ElectricFence/cercos/alarma/Zona3/superior\": [{\"device\": \"BROKER\", \"output\": \"O05\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}, {\"device\": \"SWITCH\", \"output\": \"O05\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}, {\"device\": \"R4\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}], \"R3/I01\": [{\"device\": \"BROKER\", \"output\": \"O05\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}, {\"device\": \"SWITCH\", \"output\": \"O05\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}, {\"device\": \"R4\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I01\"}}], \"ElectricFence/cercos/alarma/Zona3/inferior\": [{\"device\": \"BROKER\", \"output\": \"O06\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}, {\"device\": \"SWITCH\", \"output\": \"O06\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}, {\"device\": \"R4\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}], \"R3/I02\": [{\"device\": \"BROKER\", \"output\": \"O06\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}, {\"device\": \"SWITCH\", \"output\": \"O06\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}, {\"device\": \"R4\", \"output\": \"O01\", \"description\": \"Alarma cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I02\"}}], \"ElectricFence/cercos/alarma/Zona4/unico\": [{\"device\": \"BROKER\", \"output\": \"O07\", \"description\": \"Alarma cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I03\"}}, {\"device\": \"SWITCH\", \"output\": \"O07\", \"description\": \"Alarma cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I03\"}}], \"R3/I03\": [{\"device\": \"BROKER\", \"output\": \"O07\", \"description\": \"Alarma cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I03\"}}, {\"device\": \"SWITCH\", \"output\": \"O07\", \"description\": \"Alarma cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I03\"}}], \"ElectricFence/cercos/estado/Zona3/superior\": [{\"device\": \"BROKER\", \"output\": \"O13\", \"description\": \"Estado cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I04\"}}], \"R3/I04\": [{\"device\": \"BROKER\", \"output\": \"O13\", \"description\": \"Estado cerco Zona3 superior\", \"source\": {\"device\": \"R3\", \"input\": \"I04\"}}], \"ElectricFence/cercos/estado/Zona3/inferior\": [{\"device\": \"BROKER\", \"output\": \"O14\", \"description\": \"Estado cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I05\"}}], \"R3/I05\": [{\"device\": \"BROKER\", \"output\": \"O14\", \"description\": \"Estado cerco Zona3 inferior\", \"source\": {\"device\": \"R3\", \"input\": \"I05\"}}], \"ElectricFence/cercos/estado/Zona4/unico\": [{\"device\": \"BROKER\", \"output\": \"O15\", \"description\": \"Estado cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I06\"}}], \"R3/I06\": [{\"device\": \"BROKER\", \"output\": \"O15\", \"description\": \"Estado cerco Zona4\", \"source\": {\"device\": \"R3\", \"input\": \"I06\"}}], \"ElectricFence/cercos/onoff/Zona1/superior\": [{\"device\": \"R1\", \"output\": \"O01\", \"description\": \"Control on/off Zona1 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I01\"}}], \"SWITCH/I01\": [{\"device\": \"R1\", \"output\": \"O01\", \"description\": \"Control on/off Zona1 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I01\"}}], \"ElectricFence/cercos/onoff/Zona1/inferior\": [{\"device\": \"R1\", \"output\": \"O02\", \"description\": \"Control on/off Zona1 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I02\"}}], \"SWITCH/I02\": [{\"device\": \"R1\", \"output\": \"O02\", \"description\": \"Control on/off Zona1 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I02\"}}], \"ElectricFence/cercos/onoff/Zona2/superior\": [{\"device\": \"R2\", \"output\": \"O01\", \"description\": \"Control on/off Zona2 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I03\"}}], \"SWITCH/I03\": [{\"device\": \"R2\", \"output\": \"O01\", \"description\": \"Control on/off Zona2 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I03\"}}], \"ElectricFence/cercos/onoff/Zona2/inferior\": [{\"device\": \"R2\", \"output\": \"O02\", \"description\": \"Control on/off Zona2 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I04\"}}], \"SWITCH/I04\": [{\"device\": \"R2\", \"output\": \"O02\", \"description\": \"Control on/off Zona2 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I04\"}}], \"ElectricFence/cercos/onoff/Zona3/superior\": [{\"device\": \"R3\", \"output\": \"O01\", \"description\": \"Control on/off Zona3 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I05\"}}], \"SWITCH/I05\": [{\"device\": \"R3\", \"output\": \"O01\", \"description\": \"Control on/off Zona3 superior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I05\"}}], \"ElectricFence/cercos/onoff/Zona3/inferior\": [{\"device\": \"R3\", \"output\": \"O02\", \"description\": \"Control on/off Zona3 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I06\"}}], \"SWITCH/I06\": [{\"device\": \"R3\", \"output\": \"O02\", \"description\": \"Control on/off Zona3 inferior\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I06\"}}], \"ElectricFence/cercos/onoff/Zona4/unico\": [{\"device\": \"R3\", \"output\": \"O03\", \"description\": \"Control on/off Zona4\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I07\"}}], \"SWITCH/I07\": [{\"device\": \"R3\", \"output\": \"O03\", \"description\": \"Control on/off Zona4\", \"source\": {\"device\": \"SWITCH\", \"input\": \"I07\"}}]};\nconst slotByDevice = { BROKER: 0, SWITCH: 1, R1: 2, R2: 3, R3: 4, R4: 5 };\n\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (err) {\n        const value = payload.trim().toLowerCase();\n        if (['1', 'on', 'true', 'high', 'active'].includes(value)) {\n            payload = { active: true, raw: msg.payload };\n        } else if (['0', 'off', 'false', 'low', 'inactive'].includes(value)) {\n            payload = { active: false, raw: msg.payload };\n        } else {\n            node.warn(`Payload no soportado en ${msg.topic}: ${msg.payload}`);\n            return null;\n        }\n    }\n}\n\nconst active = payload.active !== undefined ? !!payload.active : !!payload.value;\nconst entries = routesByTopic[msg.topic] || [];\nif (!entries.length) {\n    return null;\n}\n\nconst outputs = [[], [], [], [], [], []];\nfor (const entry of entries) {\n    const outMsg = {\n        topic: msg.topic,\n        payload: {\n            device: entry.device,\n            output: entry.output,\n            active,\n            sourceDevice: entry.source.device,\n            sourceInput: entry.source.input,\n            description: entry.description,\n            receivedAt: new Date().toISOString(),\n        }\n    };\n    const slot = slotByDevice[entry.device];\n    if (slot !== undefined) {\n        outputs[slot].push(outMsg);\n    }\n}\nreturn outputs;",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 170,
        "wires": [
            [
                "da92a8dcb569ff95"
            ],
            [
                "7644b6683ad94b17"
            ],
            [
                "e3dd06de32a58c34"
            ],
            [
                "4471fcc5824a1ebc"
            ],
            [
                "9f8a304077f45164"
            ],
            [
                "581c7ee45062fa72"
            ]
        ]
    },
    {
        "id": "da92a8dcb569ff95",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas Broker",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 90,
        "wires": []
    },
    {
        "id": "7644b6683ad94b17",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas Switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 130,
        "wires": []
    },
    {
        "id": "e3dd06de32a58c34",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas R1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 170,
        "wires": []
    },
    {
        "id": "4471fcc5824a1ebc",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas R2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 210,
        "wires": []
    },
    {
        "id": "9f8a304077f45164",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas R3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 250,
        "wires": []
    },
    {
        "id": "581c7ee45062fa72",
        "type": "debug",
        "z": "c3e4dc10c13de097",
        "name": "Salidas R4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.output",
        "statusType": "msg",
        "x": 670,
        "y": 290,
        "wires": []
    },
    {
        "id": "91f39f002cdec0cf",
        "type": "comment",
        "z": "c3e4dc10c13de097",
        "name": "Panel dashboard",
        "info": "Este bloque mantiene un dashboard mas claro y profesional. Armar activa visualmente el estado general y Desalarmar apaga todo el tablero.",
        "x": 100,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd59d16f8552f248",
        "type": "inject",
        "z": "c3e4dc10c13de097",
        "name": "Inicializar tablero",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "dashboard/control",
        "payload": "armar",
        "payloadType": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "6176aba745351299",
        "type": "function",
        "z": "c3e4dc10c13de097",
        "name": "Actualizar tablero profesional",
        "func": "const zoneDefs = [{\"id\": \"Zona1-up\", \"label\": \"Zona1 Superior\"}, {\"id\": \"Zona1-down\", \"label\": \"Zona1 Inferior\"}, {\"id\": \"Zona2-up\", \"label\": \"Zona2 Superior\"}, {\"id\": \"Zona2-down\", \"label\": \"Zona2 Inferior\"}, {\"id\": \"Zona3-up\", \"label\": \"Zona3 Superior\"}, {\"id\": \"Zona3-down\", \"label\": \"Zona3 Inferior\"}, {\"id\": \"Zona4\", \"label\": \"Zona4\"}];\nconst routeMetaByTopic = {\"ElectricFence/cercos/alarma/Zona1/superior\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I07\", \"description\": \"Alarma cerco Zona1 superior\"}, \"R1/I07\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I07\", \"description\": \"Alarma cerco Zona1 superior\"}, \"ElectricFence/cercos/alarma/Zona1/inferior\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I08\", \"description\": \"Alarma cerco Zona1 inferior\"}, \"R1/I08\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I08\", \"description\": \"Alarma cerco Zona1 inferior\"}, \"ElectricFence/cercos/estado/Zona1/superior\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I03\", \"description\": \"Estado cerco Zona1 superior\"}, \"R1/I03\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I03\", \"description\": \"Estado cerco Zona1 superior\"}, \"ElectricFence/cercos/estado/Zona1/inferior\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona1 inferior\"}, \"R1/I04\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R1\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona1 inferior\"}, \"ElectricFence/cercos/alarma/Zona2/superior\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I01\", \"description\": \"Alarma cerco Zona2 superior\"}, \"R2/I01\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I01\", \"description\": \"Alarma cerco Zona2 superior\"}, \"ElectricFence/cercos/alarma/Zona2/inferior\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I02\", \"description\": \"Alarma cerco Zona2 inferior\"}, \"R2/I02\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I02\", \"description\": \"Alarma cerco Zona2 inferior\"}, \"ElectricFence/cercos/estado/Zona2/superior\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I03\", \"description\": \"Estado cerco Zona2 superior\"}, \"R2/I03\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I03\", \"description\": \"Estado cerco Zona2 superior\"}, \"ElectricFence/cercos/estado/Zona2/inferior\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona2 inferior\"}, \"R2/I04\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R2\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona2 inferior\"}, \"ElectricFence/cercos/alarma/Zona3/superior\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I01\", \"description\": \"Alarma cerco Zona3 superior\"}, \"R3/I01\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I01\", \"description\": \"Alarma cerco Zona3 superior\"}, \"ElectricFence/cercos/alarma/Zona3/inferior\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I02\", \"description\": \"Alarma cerco Zona3 inferior\"}, \"R3/I02\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I02\", \"description\": \"Alarma cerco Zona3 inferior\"}, \"ElectricFence/cercos/alarma/Zona4/unico\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I03\", \"description\": \"Alarma cerco Zona4\"}, \"R3/I03\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"alarma\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I03\", \"description\": \"Alarma cerco Zona4\"}, \"ElectricFence/cercos/estado/Zona3/superior\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona3 superior\"}, \"R3/I04\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I04\", \"description\": \"Estado cerco Zona3 superior\"}, \"ElectricFence/cercos/estado/Zona3/inferior\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I05\", \"description\": \"Estado cerco Zona3 inferior\"}, \"R3/I05\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I05\", \"description\": \"Estado cerco Zona3 inferior\"}, \"ElectricFence/cercos/estado/Zona4/unico\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I06\", \"description\": \"Estado cerco Zona4\"}, \"R3/I06\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"estado\", \"sourceDevice\": \"R3\", \"sourceInput\": \"I06\", \"description\": \"Estado cerco Zona4\"}, \"ElectricFence/cercos/onoff/Zona1/superior\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I01\", \"description\": \"Control on/off Zona1 superior\"}, \"SWITCH/I01\": {\"zoneId\": \"Zona1-up\", \"label\": \"Zona1 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I01\", \"description\": \"Control on/off Zona1 superior\"}, \"ElectricFence/cercos/onoff/Zona1/inferior\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I02\", \"description\": \"Control on/off Zona1 inferior\"}, \"SWITCH/I02\": {\"zoneId\": \"Zona1-down\", \"label\": \"Zona1 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I02\", \"description\": \"Control on/off Zona1 inferior\"}, \"ElectricFence/cercos/onoff/Zona2/superior\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I03\", \"description\": \"Control on/off Zona2 superior\"}, \"SWITCH/I03\": {\"zoneId\": \"Zona2-up\", \"label\": \"Zona2 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I03\", \"description\": \"Control on/off Zona2 superior\"}, \"ElectricFence/cercos/onoff/Zona2/inferior\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I04\", \"description\": \"Control on/off Zona2 inferior\"}, \"SWITCH/I04\": {\"zoneId\": \"Zona2-down\", \"label\": \"Zona2 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I04\", \"description\": \"Control on/off Zona2 inferior\"}, \"ElectricFence/cercos/onoff/Zona3/superior\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I05\", \"description\": \"Control on/off Zona3 superior\"}, \"SWITCH/I05\": {\"zoneId\": \"Zona3-up\", \"label\": \"Zona3 Superior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I05\", \"description\": \"Control on/off Zona3 superior\"}, \"ElectricFence/cercos/onoff/Zona3/inferior\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I06\", \"description\": \"Control on/off Zona3 inferior\"}, \"SWITCH/I06\": {\"zoneId\": \"Zona3-down\", \"label\": \"Zona3 Inferior\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I06\", \"description\": \"Control on/off Zona3 inferior\"}, \"ElectricFence/cercos/onoff/Zona4/unico\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I07\", \"description\": \"Control on/off Zona4\"}, \"SWITCH/I07\": {\"zoneId\": \"Zona4\", \"label\": \"Zona4\", \"signal\": \"control\", \"sourceDevice\": \"SWITCH\", \"sourceInput\": \"I07\", \"description\": \"Control on/off Zona4\"}};\nconst signalLabels = { alarma: 'Alarma', estado: 'Estado', control: 'Control' };\n\nfunction freshZones() {\n    const zones = {};\n    for (const def of zoneDefs) {\n        zones[def.id] = {\n            id: def.id,\n            label: def.label,\n            estado: false,\n            alarma: false,\n            control: false,\n            monitored: false,\n            lastSource: '',\n            lastSignal: '',\n            lastUpdate: '',\n        };\n    }\n    return zones;\n}\n\nfunction applyArmedState(zones, armed) {\n    for (const zone of Object.values(zones)) {\n        zone.estado = armed;\n        zone.monitored = armed;\n        zone.alarma = false;\n        zone.control = false;\n        zone.lastSignal = armed ? 'estado' : '';\n        zone.lastUpdate = new Date().toISOString();\n    }\n}\n\nfunction clearZones(zones) {\n    for (const zone of Object.values(zones)) {\n        zone.estado = false;\n        zone.monitored = false;\n        zone.alarma = false;\n        zone.control = false;\n        zone.lastSource = '';\n        zone.lastSignal = '';\n        zone.lastUpdate = '';\n    }\n}\n\nfunction parsePayload(payload) {\n    if (typeof payload === 'string') {\n        try {\n            payload = JSON.parse(payload);\n        } catch (err) {\n            const value = payload.trim().toLowerCase();\n            if (['1', 'on', 'true', 'high', 'active'].includes(value)) {\n                return { active: true };\n            }\n            if (['0', 'off', 'false', 'low', 'inactive'].includes(value)) {\n                return { active: false };\n            }\n            return { active: false };\n        }\n    }\n\n    if (payload && typeof payload === 'object') {\n        if (payload.active !== undefined) {\n            return { active: !!payload.active };\n        }\n        if (payload.value !== undefined) {\n            return { active: !!payload.value };\n        }\n    }\n\n    return { active: !!payload };\n}\n\nlet state = context.get('dashboardState');\nif (!state) {\n    const zones = freshZones();\n    applyArmedState(zones, true);\n    state = {\n        armed: true,\n        zones,\n        lastEvent: {\n            text: 'Sistema armado y monitoreo activo.',\n            topic: '',\n            source: 'dashboard',\n        },\n    };\n}\n\nif (msg.topic === 'dashboard/control') {\n    const action = String(msg.payload || '').toLowerCase();\n    if (action === 'armar') {\n        state.armed = true;\n        applyArmedState(state.zones, true);\n        state.lastEvent = {\n            text: 'Alarma armada. El monitoreo quedo encendido en todos los cercos.',\n            topic: msg.topic,\n            source: 'dashboard',\n        };\n    } else if (action === 'desarmar') {\n        state.armed = false;\n        clearZones(state.zones);\n        state.lastEvent = {\n            text: 'Sistema desalarmado. Todo el tablero quedo apagado.',\n            topic: msg.topic,\n            source: 'dashboard',\n        };\n    }\n} else {\n    const meta = routeMetaByTopic[msg.topic];\n    if (meta) {\n        const parsed = parsePayload(msg.payload);\n        const active = !!parsed.active;\n        const zone = state.zones[meta.zoneId];\n        const source = `${meta.sourceDevice}/${meta.sourceInput}`;\n\n        zone.lastSource = source;\n        zone.lastSignal = meta.signal;\n        zone.lastUpdate = new Date().toISOString();\n\n        if (state.armed) {\n            zone.monitored = true;\n            if (meta.signal === 'estado') {\n                zone.estado = active;\n            } else if (meta.signal === 'control') {\n                zone.control = active;\n            } else if (meta.signal === 'alarma') {\n                zone.alarma = active;\n            }\n        }\n\n        let verb = active ? 'encendido' : 'apagado';\n        if (meta.signal === 'alarma') {\n            verb = active ? 'detectada' : 'normalizada';\n        }\n        state.lastEvent = {\n            text: `${meta.label}: ${signalLabels[meta.signal]} ${verb}${state.armed ? '' : ' (sistema desarmado)'}`,\n            topic: msg.topic,\n            source,\n        };\n    }\n}\n\ncontext.set('dashboardState', state);\n\nconst zones = zoneDefs.map((def) => state.zones[def.id]);\nconst activeAlarmCount = zones.filter((zone) => zone.alarma).length;\nconst activeStatusCount = zones.filter((zone) => zone.estado).length;\nconst activeControlCount = zones.filter((zone) => zone.control).length;\n\nreturn {\n    payload: {\n        armed: state.armed,\n        generalState: state.armed ? 'Encendido' : 'Apagado',\n        activeAlarmCount,\n        activeStatusCount,\n        activeControlCount,\n        lastEvent: state.lastEvent,\n        updatedAt: new Date().toISOString(),\n        zones,\n    },\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "17569bf06c91ff5d"
            ]
        ]
    },
    {
        "id": "d87fee22744fc709",
        "type": "ui_button",
        "z": "c3e4dc10c13de097",
        "name": "Armar alarma",
        "group": "0000000000002002",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Armar alarma",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#15803d",
        "className": "",
        "icon": "lock",
        "payload": "armar",
        "payloadType": "str",
        "topic": "dashboard/control",
        "topicType": "str",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "4aa967bd9a031542",
        "type": "ui_button",
        "z": "c3e4dc10c13de097",
        "name": "Desalarmar",
        "group": "0000000000002002",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Desalarmar",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#b91c1c",
        "className": "",
        "icon": "warning",
        "payload": "desarmar",
        "payloadType": "str",
        "topic": "dashboard/control",
        "topicType": "str",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "6176aba745351299"
            ]
        ]
    },
    {
        "id": "17569bf06c91ff5d",
        "type": "ui_template",
        "z": "c3e4dc10c13de097",
        "group": "0000000000002002",
        "name": "Tablero profesional de cercos",
        "order": 3,
        "width": "24",
        "height": "16",
        "format": "<style>\n.efence-page {\n  font-family: 'Segoe UI', Arial, sans-serif;\n  color: #13314f;\n}\n.efence-shell {\n  background: linear-gradient(180deg, #f6f9fc 0%, #ffffff 100%);\n  border: 1px solid #dbe5f0;\n  border-radius: 18px;\n  padding: 18px;\n}\n.efence-hero {\n  display: grid;\n  grid-template-columns: minmax(0, 1.35fr) minmax(260px, 0.65fr);\n  gap: 14px;\n  margin-bottom: 16px;\n}\n.efence-hero-card {\n  background: linear-gradient(135deg, #12385f 0%, #1d4d7d 100%);\n  color: #ffffff;\n  border-radius: 18px;\n  padding: 18px 20px;\n  box-shadow: 0 10px 26px rgba(18, 56, 95, 0.16);\n}\n.efence-hero-title {\n  display: flex;\n  align-items: center;\n  gap: 12px;\n  font-size: 24px;\n  font-weight: 700;\n}\n.efence-pilot {\n  width: 18px;\n  height: 18px;\n  border-radius: 50%;\n  display: inline-block;\n  flex: 0 0 auto;\n}\n.efence-pilot.on {\n  background: #22c55e;\n  box-shadow: 0 0 14px rgba(34, 197, 94, 0.9);\n}\n.efence-pilot.off {\n  background: #94a3b8;\n}\n.efence-hero-subtitle {\n  margin-top: 10px;\n  font-size: 14px;\n  opacity: 0.92;\n  line-height: 1.5;\n}\n.efence-hero-meta {\n  margin-top: 14px;\n  display: flex;\n  flex-wrap: wrap;\n  gap: 10px;\n}\n.efence-chip {\n  display: inline-flex;\n  align-items: center;\n  gap: 8px;\n  padding: 8px 12px;\n  border-radius: 999px;\n  font-size: 12px;\n  font-weight: 700;\n}\n.efence-chip.light {\n  background: rgba(255, 255, 255, 0.14);\n}\n.efence-summary {\n  display: grid;\n  grid-template-columns: repeat(2, minmax(0, 1fr));\n  gap: 12px;\n}\n.efence-summary-card {\n  background: #ffffff;\n  border: 1px solid #dbe5f0;\n  border-radius: 18px;\n  padding: 16px;\n  box-shadow: 0 8px 24px rgba(15, 23, 42, 0.05);\n}\n.efence-summary-label {\n  font-size: 12px;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 0.06em;\n  color: #5b7088;\n}\n.efence-summary-value {\n  margin-top: 8px;\n  font-size: 26px;\n  font-weight: 800;\n  color: #102033;\n}\n.efence-summary-note {\n  margin-top: 6px;\n  font-size: 13px;\n  color: #61758b;\n  line-height: 1.45;\n}\n.efence-event {\n  margin-bottom: 16px;\n  padding: 14px 16px;\n  border-radius: 16px;\n  border: 1px solid #e6edf5;\n  background: #ffffff;\n}\n.efence-event-title {\n  font-size: 12px;\n  font-weight: 800;\n  text-transform: uppercase;\n  letter-spacing: 0.06em;\n  color: #607389;\n  margin-bottom: 8px;\n}\n.efence-event-text {\n  font-size: 15px;\n  font-weight: 700;\n  color: #102033;\n}\n.efence-event-meta {\n  margin-top: 6px;\n  font-size: 12px;\n  color: #6c8096;\n}\n.efence-grid {\n  display: grid;\n  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));\n  gap: 14px;\n}\n.efence-card {\n  background: #ffffff;\n  border: 1px solid #dbe5f0;\n  border-radius: 18px;\n  padding: 16px;\n  box-shadow: 0 8px 24px rgba(15, 23, 42, 0.05);\n}\n.efence-card-top {\n  display: flex;\n  justify-content: space-between;\n  align-items: flex-start;\n  gap: 12px;\n  margin-bottom: 12px;\n}\n.efence-card-title {\n  font-size: 17px;\n  font-weight: 800;\n  color: #102033;\n}\n.efence-card-source {\n  font-size: 12px;\n  color: #61758b;\n  margin-top: 4px;\n}\n.efence-badge {\n  padding: 6px 10px;\n  border-radius: 999px;\n  background: #ecfdf3;\n  color: #166534;\n  font-size: 11px;\n  font-weight: 800;\n  white-space: nowrap;\n}\n.efence-badge.off {\n  background: #f1f5f9;\n  color: #64748b;\n}\n.efence-lines {\n  display: flex;\n  flex-direction: column;\n  gap: 10px;\n}\n.efence-line {\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  gap: 12px;\n  padding: 11px 12px;\n  border-radius: 14px;\n  background: #f8fafc;\n}\n.efence-line-left {\n  display: flex;\n  align-items: center;\n  gap: 10px;\n}\n.efence-light {\n  width: 14px;\n  height: 14px;\n  border-radius: 50%;\n  display: inline-block;\n  flex: 0 0 auto;\n}\n.efence-light.off {\n  background: #cbd5e1;\n}\n.efence-light.green {\n  background: #22c55e;\n  box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);\n}\n.efence-light.red {\n  background: #ef4444;\n  box-shadow: 0 0 10px rgba(239, 68, 68, 0.55);\n}\n.efence-light.blue {\n  background: #3b82f6;\n  box-shadow: 0 0 10px rgba(59, 130, 246, 0.55);\n}\n.efence-line-name {\n  font-size: 13px;\n  font-weight: 700;\n  color: #23364a;\n}\n.efence-line-value {\n  font-size: 13px;\n  font-weight: 800;\n  color: #102033;\n}\n@media (max-width: 900px) {\n  .efence-hero {\n    grid-template-columns: 1fr;\n  }\n  .efence-summary {\n    grid-template-columns: 1fr 1fr;\n  }\n}\n</style>\n<div class=\"efence-page\" ng-if=\"msg.payload\">\n  <div class=\"efence-shell\">\n    <div class=\"efence-hero\">\n      <div class=\"efence-hero-card\">\n        <div class=\"efence-hero-title\">\n          <span class=\"efence-pilot\" ng-class=\"msg.payload.armed ? 'on' : 'off'\"></span>\n          <span>{{msg.payload.armed ? 'Sistema armado' : 'Sistema desarmado'}}</span>\n        </div>\n        <div class=\"efence-hero-subtitle\">\n          {{msg.payload.armed ? 'El monitoreo se encuentra activo. Las alarmas se apagan con OFF del emisor o con Desalarmar general.' : 'El monitoreo esta detenido. Todas las luces del tablero quedan apagadas.'}}\n        </div>\n        <div class=\"efence-hero-meta\">\n          <div class=\"efence-chip light\">Estado general: {{msg.payload.generalState}}</div>\n          <div class=\"efence-chip light\">Cercos activos: {{msg.payload.activeStatusCount}}</div>\n          <div class=\"efence-chip light\">Controles activos: {{msg.payload.activeControlCount}}</div>\n        </div>\n      </div>\n      <div class=\"efence-summary\">\n        <div class=\"efence-summary-card\">\n          <div class=\"efence-summary-label\">Alarmas activas</div>\n          <div class=\"efence-summary-value\">{{msg.payload.activeAlarmCount}}</div>\n          <div class=\"efence-summary-note\">Se apagan con OFF del emisor o con Desalarmar general.</div>\n        </div>\n        <div class=\"efence-summary-card\">\n          <div class=\"efence-summary-label\">Ultima actualizacion</div>\n          <div class=\"efence-summary-value\" style=\"font-size:18px; line-height:1.25;\">{{msg.payload.updatedAt | date:'HH:mm:ss'}}</div>\n          <div class=\"efence-summary-note\">Vista actualizada con los ultimos mensajes MQTT.</div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"efence-event\">\n      <div class=\"efence-event-title\">Ultimo evento</div>\n      <div class=\"efence-event-text\">{{msg.payload.lastEvent.text}}</div>\n      <div class=\"efence-event-meta\">Origen: {{msg.payload.lastEvent.source || 'Sin actividad'}} | Topico: {{msg.payload.lastEvent.topic || 'Sin topico'}}</div>\n    </div>\n\n    <div class=\"efence-grid\">\n      <div class=\"efence-card\" ng-repeat=\"zone in msg.payload.zones track by zone.id\">\n        <div class=\"efence-card-top\">\n          <div>\n            <div class=\"efence-card-title\">{{zone.label}}</div>\n            <div class=\"efence-card-source\">Ultima fuente: {{zone.lastSource || 'Sin eventos todavia'}}</div>\n          </div>\n          <div class=\"efence-badge\" ng-class=\"msg.payload.armed ? '' : 'off'\">{{msg.payload.armed ? 'Monitoreo activo' : 'En espera'}}</div>\n        </div>\n        <div class=\"efence-lines\">\n          <div class=\"efence-line\">\n            <div class=\"efence-line-left\">\n              <span class=\"efence-light\" ng-class=\"zone.estado ? 'green' : 'off'\"></span>\n              <span class=\"efence-line-name\">Estado</span>\n            </div>\n            <div class=\"efence-line-value\">{{zone.estado ? 'Encendido' : 'Apagado'}}</div>\n          </div>\n          <div class=\"efence-line\">\n            <div class=\"efence-line-left\">\n              <span class=\"efence-light\" ng-class=\"zone.alarma ? 'red' : 'off'\"></span>\n              <span class=\"efence-line-name\">Alarma</span>\n            </div>\n            <div class=\"efence-line-value\">{{zone.alarma ? 'Activa' : 'Sin alarma'}}</div>\n          </div>\n          <div class=\"efence-line\">\n            <div class=\"efence-line-left\">\n              <span class=\"efence-light\" ng-class=\"zone.control ? 'blue' : 'off'\"></span>\n              <span class=\"efence-line-name\">Control</span>\n            </div>\n            <div class=\"efence-line-value\">{{zone.control ? 'Encendido' : 'Apagado'}}</div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "697e09d84e6e24a1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
